// $theme-color1: #D13434;
// $theme-color2: #D04C52;


$theme-color1:#5D73D8;
$theme-color2:#778DE0;
$theme-color3:#3560BF;

$selection: rgb(212, 58, 58);

$theme-grey-dark: #1D1D1D;
$theme-grey-light: #dedede;
$theme-white: #f0f0f0;
$theme-black: #0d0d0d;

$transition-easing: cubic-bezier(.42, 0, .11, .98);

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;


$screen-xxl-min: 1300px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: #{$screen-xxl-min}) {
    @content;
  }
}

@mixin touch {
  @media (hover: none) and (pointer: coarse) {
    @content;
  }
}
